extends layout

block content
  
  .w3-container.w3-margin.w3-light-gray
    h3 Tabela Periódica
  .w3-container.w3-border
    h4 Lista de Elementos
    .w3-container.w3-margin
      div.w3-row.w3-margin
        div.w3-col.l3
          table.w3-table-all
            each e in elementos
              tr
                td
                  a(href="/elementos/"+e.symb) #{e.symb} 
                td #{e.name} (#{e.anumber})
  footer
    .w3-container.w3-light-gray
      .w3-container.w3-margin.w3-border
        a(href="/") Voltar
        

    