extends layout

block content
  
  .w3-container.w3-margin.w3-light-gray
    h3 Tabela Periódica
  .w3-container.w3-border.w3-margin-left
    h4 Classes da tabela Periódica
    .w3-container.w3-margin
      div.w3-row.w3-margin
        div.w3-col.l3
          table.w3-table-all
            tr
              td
                a(href="/elementos") Elementos
            tr
              td
                a(href="/grupos") Grupos
            tr
              td
                a(href="/periodos") Periodos


  footer
    .w3-container.w3-light-gray
      .w3-container.w3-margin
        
        

    