extends layout

block content
  
  .w3-container.w3-margin.w3-light-gray
    h3 Indivíduos da Classe #{classe} do repositório #{repo}
  .w3-container.w3-border
    h3 Lista de Indivíduos
    .w3-container.w3-margin
      div.w3-row.w3-margin
        div.w3-col.l3
          table.w3-table-all
            each e in enteties
              tr
                td
                  a(href="/"+repo+"/enteties/"+classe+"/individuals/"+e)= e

  footer
    .w3-container.w3-light-gray
      .w3-container.w3-margin.w3-border
        a(href="/"+repo) Voltar
        

    